<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {{> title}}

</head>

<body>
    <h1>{{pageTitle}}</h1>
    <p>{{welcomeMessage}}</p>
    <a href="./about">About</a>
    <a href="./projects">Projects</a>
    <a href="../public/help">Help</a>


</body>

{{> footer}}

</html>