<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {{> title}}

</head>

<body>
    <h1>{{pageTitle}}</h1>
    <p>{{welcomeMessage}}</p>

<img src= "http://www.open.edu/openlearn/sites/www.open.edu.openlearn/modules/sitespecific/site-custom/ole_ng_content/ole_free_course/image-static/free-courses/badged-free-course.jpg" alt="An image">


</body>

{{> footer}}

</html>